  <div class="header">
    <h1>Misty Mountain Radio</h1>
  </div>
  <main>
  <div class="content">
  <select class="dropDown">
  </select>
  <h2 class="or">Or</h2>
  <select class="genre">
  </select>
  <div class="nowPlaying">
  </div>
  </div>
<div class="btns">
  <h1 id="next">NEXT SONG</h1>
  <button class="click">click me</button>
</div>
<audio controls autoplay="autoplay">
  <source src=""></source>
</audio>
</main>
