<h2 class="hello">Welcome To Misty Mountain Radio</h2>
<form id="login" method="post" action="/users/login">
  <div class="form-group">
    <!-- <label>Username</label> -->
    <input type="text" class="form-control" name="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <!-- <label>Password</label> -->
    <input type="password" class="form-control" name="password" placeholder="Enter Password">
  </div>
  <button type="submit" class="form-control">Submit</button>
</form>
