
@font-face {
  font-family: 'PizzaSlime';
  src: url('../fonts/SkidooMedium_RH.ttf')
}

html {
  height: 100vh;
  width: 100vw
}

body {
  height: 100;
  width: 100;
  background-image: url('./shack.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'PizzaSlime';
  color: #2bff14;
  /* overflow-y: hidden; */
}

main {
  flex: 1
}

audio {
  width: 100%;
  height: 50px;
  margin-top: 2%;
  margin-bottom; 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
}

h1 {
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.btns {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  text-align: center
}

.nowStreaming {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  max-width: 500px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.nowStreaming p {
  font-size: 24px
}

.header {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center
}


#next {
  font-size: 38px;
  padding-bottom: 5px;
  float: left;
  padding: 10px 10px;
  border-radius: 4px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#fave {
  font-size: 38px;
  padding-bottom: 5px;
  float: right;
  padding: 10px 10px;
  border-radius: 4px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#fave:hover, #next:hover {
  color: #e330ff;
  background-color: rgba(255, 255, 255, 0.6)
}

#welcome {
  color: #e330ff;
  border-radius: 4px;
  position: relative;
  display: block;
  padding: 10px 15px;
  box-sizing: border-box;
}

.myname {
  margin-top: 1%;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.btns h1:hover {
  cursor: pointer
}

#login {
  width: 40%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto
}

.hello {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}


.form-control {
  background-color: black;
  color: white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto
}

.logbtn:hover {
  color: white
}

.form-control::placeholder {
  color: #2bff14
}



.content {
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column
}

.nowPlaying {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nowPlaying h2 {
  font-size: 18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.own {
  width: 60%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'PizzaSlime';
  color: #2bff14;
  background-color: black
}

.navitem {
  color: #2bff14;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.or {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.dropDown {
  width: 35%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'PizzaSlime';
  color: #2bff14;
  background-color: black;
  margin-top: 1%;
}

.faveDrop {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'PizzaSlime';
  color: #2bff14;
  background-color: black;
  margin-top: 1%;
  max-width: 500px;
}

.genre {
  width: 35%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'PizzaSlime';
  color: #2bff14;
  background-color: black;
  margin-top: 1%;
}

option {
  font-family: 'PizzaSlime';
  color: #2bff14
}

@media only screen and (max-width: 1200px)  {
  .content {
    width: 100%
  }
  .header {
    font-size: 28px;
  }
  .nowPlaying {
    margin-top: none;
  }
  main {
    overflow-y: scroll
  }
}
